.red {
    background-color: #c94d4d;
    border: none
}

.green {
    background-color: #4fc74f;
    border: none
}

#table-div {
    margin-top: 25px;
}

div{
    z-index: 9999;
}

svg {
    z-index: -9999;
    margin-top: -5%;
}
